@model IEnumerable<Entities.SanPham>

<div class="grid-in">
    @foreach (var item in Model.Take(3))
    {
        <div class="col-md-4 grid-top">
            <a href="@Url.Action("XemChiTiet","SanPham",new {id=item.MaSP })" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)" alt="">
                <div class="b-wrapper thu">
                    <h3 class="b-animate b-from-left    b-delay03 " style="text-align:left;font-size:20px;padding:15px;">
                        @Html.Raw(item.CauHinh)
                    </h3>
                </div>
            </a>

            <p><a href="single.html">@item.TenSP</a></p>
        </div>
    }
    <div class="clearfix"> </div>
</div>

