
<div class="cart box_1" id="giohang">
    <a href="@Url.Action("XemGioHang","GioHang")">
        <h3>
            <div class="total">
                @ViewBag.TongSoTien.ToString("#,##") VND( <span>@ViewBag.TongSoLuong</span> sp)
            </div>
            <img src="~/Content/images/cart.png" alt="" />
        </h3>
    </a>
    <p><a href="@Url.Action("XemGioHang","GioHang")">Giỏ hàng</a></p>
</div>




