
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Không đủ quyền truy cập</title>
</head>
<body>
    <div> 
        Xin lỗi. Bạn không đủ quyền để truy cập vào trang này. @Html.ActionLink("Quay lại","Index","Home")
    </div>
</body>
</html>
